.fondo{
    background-color:#E5E9F2;
  }
  .base{
    background-color: #183554;
    width: 100%;
    height: 800px;
  }
  
  .imagen {
    width: 534px;
    height: 800px;
    float: right;
  }
  
  .texto {
    position: absolute;
    top: 24%;
    left: 9%;
    padding-bottom: 100px;
    color: white;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }
  
  .boton {
    background-color: #183554;
    border: none;
    border-radius: 5px;
    width: 192px;
    height: 70px;
    position: absolute;
    top: 74%;
    left: 32%;
    color: white;
    font-size: 18px;
    text-decoration: underline;
  }